/* CSS for Age Calculator */

/* General styles */
* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 7px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

/* Age Calculator styles */
.calculator {
  margin-bottom: 50px;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#result {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#result.show {
  display: block;
}

.input-group {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.input-group > * {
  margin-right: 10px;
}

.input-group label {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}

.input-group input[type="date"] {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

#calculate-btn {
  background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 438, 1));
  background-color: ;
  border: 1px solid black;
  color: white;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#calculate-btn:hover{
background: linear-gradient(45deg, #1a1b4a, #01021a);
transition: all 1s ease;
}

   #ageOnResult::after {
      content: "";  
       display: block;  
        height: 1px;   
        margin-top: 15px;   
        margin-bottom: 15px;   
        background-color: #ccc; } 

/* Media queries */
@media screen and (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }
  
  .input-group > * {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-right: 0;
  }
  
  .input-group input[type="date"] {
    width: 100%;
  }
  
  .btn-calculate {
    width: 100%;
  }
  #calculate-btn {
  width: 100%;
  }
}

#ageResult {
  color: red;
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
  font-weight: bold;
}
#ageResult {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

@keyframes blink {
  0% { color: black; }
  25% { color: red; }
  50% { color: black; }
  75% { color: red; }
  100% { color: green; }
}

footer { 
 position: fixed; 
 left: 0; 
 bottom: 0; 
 width: 100%; 
 background-color: #2f3134; 
 text-align: center; 
 z-index: 1; 
 } 
  
  
  
 footer p {  
  color: white;  
  font-size: 18px;  
  text-shadow: 2px 2px 2px #000000;  
  margin-left: 0px;  
  margin-right: 0px;  
  text-align: center;  
  } 
  
  
  
 .my-link { 
   color: #029bed; 
   text-decoration: none; 
 } 
  
 .my-link:hover, 
 .my-link:focus, 
 .my-link:active, 
 .my-link:visited { 
   text-decoration: none; 
 }

.my-link2 { 
   color: black; 
   text-decoration: none; 
 }

